/*النجمة للتحديد على الكل */


*{ 
 /* color: brown; */
 margin: 0 auto;
 text-align: center;
}

a{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: inherit;
    text-decoration: none;
}
a:hover{
    
    color :yellow;

}
h1{
 color: white;
}
li{
  display: inline-block;
  padding-top: 20px;
  /* font-family:;s */
  color: aliceblue;
} 

ul{
    float: right;
    margin-right: 16px;
    padding: 0px;
 
 
 
}
#tex_pa{
    font-size: 30px;
    color: beige;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*نوع الخط */
}
#img{ /* طريقة اضافة صورة في الخلفية*/
    background-image: url(gigachad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    color: azure;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.h11{                                /*#لل id والنقطةللكلاس*/
    background-color: blueviolet;
    padding: 15px;
}
#gig{
    border-image-width: 10;
    
}
#head1{
    
    background-color: orange;
    height: 200px;
}

#h11{
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#h11>a>h2:hover{
    /* text-decoration-color: rgb(0, 0, 0); */
    /* text-decoration: underline; */
    color: orange;
}

.yello{
    color: black;
}

#tex_par{
    background-image: url(gigachad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:550px;
    font-size: 30px;
    color: beige;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*نوع الخط */
}
